<div class="col-lg-10">
  <div class="card">
    <div class="card-header card-primary">
      <div class="row">
        <div class="col-lg-2">
          <p>Process</p>
        </div>
        <div class="col-lg-2">
          <p>Material</p>
        </div>
        <div class="col-lg-1">
          <p>Parts</p>
        </div>
        <div class="col-lg-3">
          <p>Date</p>
        </div>
        <div class="col-lg-1">
          <p>Duration</p>
        </div>
        <div class="col-lg-3">
          <p>Time Left</p>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div *ngIf="status == 'active'">
        <row *ngFor="let activeJob of activeJobs">
          <client-job [job]="activeJob" (click)="goToJob(activeJob)"></client-job>
        </row>
      </div>
      <div *ngIf="status == 'progress'">
        <row *ngFor="let progressJob of progressJobs">
          <client-job [job]="progressJob"></client-job>
        </row>
      </div>
      <div *ngIf="status == 'complete'">
        <row *ngFor="let completeJob of completeJobs">
          <client-job [job]="completeJob"></client-job>
        </row>
      </div>
    </div>
  </div>
</div>
