<page-content>
  <h2 class="text-muted">Dashboard <small>Client Overview</small></h2>
  <hr>
  <row>
    <a-col [cols]="4">
      <row>
        <a-col [cols]="6">
          <div class="card">
            <div class="card-header bg-white">
              <h4 class="title">Rating</h4>
            </div>
            <div class="card-block">
              <h4>{{client?.rating}}</h4><rating [rating]="client?.rating"></rating>
            </div>
          </div>
        </a-col>
        <a-col [cols]="6">
          <div class="card">
            <div class="card-header bg-white">
              <h4 class="title">Reviews</h4>
            </div>
            <div class="card-block">
              <h4>{{client?.reviews?.length}}</h4>
            </div>
          </div>
        </a-col>
      </row>
      <row>
        <a-col [cols]="6">
          <div class="card">
            <div class="card-header bg-white">
              <h4 class="title">Completed</h4>
            </div>
            <div class="card-block">
              Card 3
            </div>
          </div>
        </a-col>
        <a-col [cols]="6">
          <div class="card">
            <div class="card-header bg-white">
              <h4 class="title">Client Tier</h4>
            </div>
            <div class="card-block">
              Card 4
            </div>
          </div>
        </a-col>
      </row>
    </a-col>
    <a-col [cols]="4">
      <jobs></jobs>
    </a-col>
    <a-col [cols]="4">

    </a-col>
  </row>
</page-content>
