<a-card [title]="'Add Bid'">
  <form role="form" [ngFormModel]="bidForm">
    <div class="form-content">
      <div class="form-group">
        <label for="parts" class="control-label">Parts Cost</label>
        <input type="text" id="parts" class="form-control input-underline input-lg" placeholder="0.00" [ngFormControl]="bidForm.find('parts')">
      </div>
      <div class="form-group">
        <label for="misc" class="control-label">Misc Charges</label>
        <input type="text" id="misc" class="form-control input-underline input-lg" placeholder="0.00" [ngFormControl]="bidForm.find('misc')">
      </div>
      <div class="form-group">
        <label for="miscComments" class="control-label">Misc Comments</label>
        <input type="text" id="miscComments" class="form-control input-underline input-lg" placeholder="Comments" [ngFormControl]="bidForm.find('miscComments')">
      </div>
      <div class="form-group">
        <label for="pickup" class="control-label">Pickup</label>
        <input type="checkbox" id="pickup" class="form-control input-underline input-lg" [ngFormControl]="bidForm.find('pickup')">
      </div>
      <div class="form-group" *ngIf="bidForm.find('pickup').value == false">
        <label for="shipping" class="control-label">Shipping Cost</label>
        <input type="text" id="shipping" class="form-control input-underline input-lg" placeholder="0.00" [ngFormControl]="bidForm.find('shipping')">
      </div>
    </div>
    <div class="form-group">
      <label for="days" class="control-label">Days To Complete</label>
      <input type="number" id="days" class="form-control input-underline input-lg" placeholder="3" [ngFormControl]="bidForm.find('days')">
    </div>
    <div class="form-group">
      <label for="comments" class="control-label">Comments</label>
      <input type="text" id="comments" class="form-control input-underline input-lg" placeholder="Comments" [ngFormControl]="bidForm.find('comments')">
    </div>
    <button type="submit" class="btn btn-primary center" (click)="submitBid(bidForm.value)">Submit Bid</button>
  </form>
</a-card>
