<div class="card" *ngIf="bid && contractor">
  <div class="card-header card-primary">
    <row>
      <a-col [cols]="5">
        {{contractor.company}}
      </a-col>
      <a-col [cols]="5" [offset]="2" class="text-right">
        {{bid.dateSubmitted | date: 'short'}}
      </a-col>
    </row>
  </div>
  <div class="card-block">
    <row>
      <a-col [cols]="6">
        <div class="card totals">
          <row>
            <a-col [cols]="4">
              <p>${{bid.orderTotal}}<a style="margin-top: 10px" (click)="showDetail = !showDetail"><span class="caret"></span></a></p>
            </a-col>
            <a-col [cols]="3" [offset]="1">
              <p>{{bid.days}} Days</p>
            </a-col>
            <a-col [cols]="3" [offset]="1">
              <p *ngIf="bid.pickup">Pickup</p>
            </a-col>
          </row>
          <div *ngIf="showDetail">
            <row>
              <a-col [cols]="5" [offset]="1">
                Parts
              </a-col>
              <a-col [cols]="5" [offset]="1">
                ${{bid.parts}}
              </a-col>
            </row>
            <row *ngIf="bid.misc > 0">
              <a-col [cols]="5" [offset]="1">
                Misc
              </a-col>
              <a-col [cols]="5" [offset]="1">
                ${{bid.misc}}
              </a-col>
            </row>
            <row *ngIf="bid?.miscComments?.length > 0">
              <a-col [cols]="10" [offset]="2">
                {{bid.miscComments}}
              </a-col>
            </row>
            <row *ngIf="bid.shipping > 0">
              <a-col [cols]="5" [offset]="1">
                Shipping
              </a-col>
              <a-col [cols]="5" [offset]="1">
                ${{bid.shipping}}
              </a-col>
            </row>
          </div>
          </div>
        <div>
          <row>
            <a-col>
              <h6>
                Comments
              </h6>
            </a-col>
          </row>
          <row>
            <a-col [cols]="10" [offset]="1">
              {{bid?.comments}}
            </a-col>
          </row>
        </div>
      </a-col>
      <a-col [cols]="6">
        <a-col [cols]="8">
          <row>
            <a-col [cols]="10" [offset]="1">
              <rating [rating]="contractor.rating"></rating>
            </a-col>
          </row>
          <row>
            <a-col [cols]="10" [offset]="1">
              <div  *ngIf="contractor?.reviews?.length > 0">
                <a [routerLink]="['/dashboard','/contractor',contractor.id]">{{contractor.reviews.length}} Reviews</a>
              </div>
              <div *ngIf="!(contractor?.reviews?.length > 0)">
                No Reviews
              </div>
            </a-col>
          </row>
        </a-col>
        <a-col [cols]="4">
          <row>
            <a-col [cols]="10" [offset]="1">
              <!--FAB action button-->
              <nav class="container">
                <a href="#" class="buttons" tooltip="Message"><i class="fa fa-comment"></i></a>
                <a href="#" class="buttons" tooltip="Delete"><i class="fa fa-minus"></i></a>
                <a href="#" class="buttons" tooltip="Choose"><i class="fa fa-check"></i></a>
              </nav>
            </a-col>
          </row>
        </a-col>
      </a-col>
    </row>
  </div>
</div>
