<a-col [cols]="6">
  <a-card [title]="'Create Your Job'">
    <form role="form" [ngFormModel]="jobForm">
      <div class="form-content">
        <div class="form-group">
          <label for="prints" class="control-label">Prints</label>
          <input type="number" id="prints" class="form-control input-underline input-lg" placeholder="Prints" [ngFormControl]="jobForm.find('prints')">
        </div>

        <div class="form-group">
          <label for="material" class="control-label">Material</label>
          <select id="material" class="form-control input-underline input-lg" [ngFormControl]="jobForm.find('material')">
            <option>ABS</option>
            <option>PLS</option>
            <option>Polyjet</option>
            <option>Injection</option>
            <option>Machined</option>
          </select>
        </div>
        <label for="duration" class="form-control-label">Accept Bids Duration</label>
        <p-selectButton id="duration" [options]="durations" [ngFormControl]="jobForm.find('duration')"></p-selectButton>
      </div>
      <button type="submit" class="btn btn-primary center" (click)="submitJob(jobForm.value)">Submit Job</button>
    </form>
  </a-card>
</a-col>
