<page-content>
  <a-col [cols]="6" *ngIf="client && job">
    <row>
      <a-col [cols]="8" [offset]="2">
        <h1>Job Overview</h1>
      </a-col>
    </row>
    <hr>
    <row>
      <a-col [cols]="1" [offset]="1">
        <h2 class="text-right">{{getInitials(client.firstName, client.lastName)}}</h2>
      </a-col>
      <a-col [cols]="4">
        <row>
          {{client.company}}
        </row>
        <row>
          {{client.firstName}} {{client.lastName}}
        </row>
      </a-col>
      <a-col [cols]="2" [offset]="1">
        <row class="title">
          Start Date
        </row>
        <row>
          {{job.startDate | date: 'short'}}
        </row>
      </a-col>
      <a-col [cols]="2" [offset]="1">
        <row class="title">
          End Date
        </row>
        <row>
          {{job.endDate | date: 'short'}}
        </row>
      </a-col>
    </row>
    <spacer [height]="2"></spacer>
    <row>
      <a-col [cols]="3" [offset]="1">
        <row>
          <a-col [cols]="6">
            <h2 class="text-right">P</h2>
          </a-col>
          <a-col [cols]="6">
            <row class="title">
              Process
            </row>
            <row>
              {{job?.process}}
            </row>
          </a-col>
        </row>
      </a-col>
      <a-col [cols]="3" [offset]="1">
        <row>
          <a-col [cols]="6">
            <h2 class="text-right">M</h2>
          </a-col>
          <a-col [cols]="6">
            <row class="title">
              Material
            </row>
            <row>
              {{job?.material}}
            </row>
          </a-col>
        </row>
      </a-col>
      <a-col [cols]="3" [offset]="1">
        <row>
          <a-col [cols]="6">
            <h2 class="text-right">P</h2>
          </a-col>
          <a-col [cols]="6">
            <row class="title">
              Parts
            </row>
            <row>
              {{job?.parts?.length}}
            </row>
          </a-col>
        </row>
      </a-col>
    </row>
    <div class="card">
      <div class="card-block parts">
        <div *ngFor="let part of job?.parts" class="card">
          <row>
            <a-col [cols]="2">
              <!--Put pic here-->
              <h2>Pic</h2>
            </a-col>
            <a-col [cols]="10">
              <row>
                <a-col [cols]="10">
                  {{part.description}}
                </a-col>
              </row>
              <row>
                <a-col [cols]="8">
                  <a-col [cols]="4" class="title">
                    Dimensions
                  </a-col>
                  <a-col [cols]="4" class="title">
                    Volume
                  </a-col>
                  <a-col [cols]="4" class="title">
                    Surface Area
                  </a-col>
                </a-col>
                <a-col [cols]="1">
                  <!--Put color here-->
                  {{part.color}}
                </a-col>
                <a-col [cols]="3">
                  <button class="btn btn-primary">Download</button>
                </a-col>
              </row>
              <row>
                <a-col [cols]="8">
                  <a-col [cols]="4">
                    {{part.dims.length}}x{{part.dims.width}}x{{part.dims.height}}mm
                  </a-col>
                  <a-col [cols]="4">
                    {{part.dims.volume}}mm^3
                  </a-col>
                  <a-col [cols]="4">
                    {{part.dims.surfaceArea}}mm^2
                  </a-col>
                </a-col>
              </row>
            </a-col>
          </row>
        </div>
      </div>
    </div>
  </a-col>
  <a-col [cols]="6" *ngIf="job?.clientId == _userService?.currentUser?.id">
    <div class="card">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" (click)="sortNewest()">
          <a class="nav-link" [ngClass]="{active: sorted=='newest'}">Newest</a>
        </li>
        <li class="nav-item" (click)="sortCheapest()">
          <a class="nav-link" [ngClass]="{active: sorted=='cheapest'}">Cheapest</a>
        </li>
        <li class="nav-item" (click)="sortFastest()">
          <a class="nav-link" [ngClass]="{active: sorted=='fastest'}">Fastest</a>
        </li>
      </ul>
      <div class="card-block scrollbar">
        <bid *ngFor="let bid of job?.bids" [bid]="bid"></bid>
      </div>
    </div>
  </a-col>
  <a-col [cols]="6" *ngIf="job?.clientId != _userService?.currentUser?.id">
    <add-bid [job]="job"></add-bid>
  </a-col>
</page-content>
