.box-1{
  height: 1rem;
}
.box-2{
  height: 2rem;
}
.box-3{
  height: 3rem;
}
.box-4{
  height: 4rem;
}
.box-5{
  height: 5rem;
}
.box-6{
  height: 6rem;
}
.box-7{
  height: 7rem;
}
.box-8{
  height: 8rem;
}
.box-9{
  height: 9rem;
}
.box-10{
  height: 10rem;
}
